[Unit]
Description=Skygear IoT Client
After=network.target

[Service]
ExecStart=/usr/bin/npm start --loglevel=silent
Restart=always
RestartSec=10
User=pi
WorkingDirectory=/home/pi/skygear-iot

[Install]
WantedBy=multi-user.target
