[Unit]
Description=Skygear IoT Raspberry Pi Launcher
After=network.target

[Service]
ExecStart=/usr/bin/npm start --loglevel=silent
Restart=always
RestartSec=10
User=pi
WorkingDirectory=/home/pi/skygear-rpi-launcher

[Install]
WantedBy=multi-user.target
